@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    font-size: 0.8rem;
    font-weight: 700;
    border: none;
    background-color: black;
    color: white;
    padding: 10px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s ease;
    outline: none;
}
button:focus{
    outline: none ;
    box-shadow: none;
}

.star{
    padding-bottom: 10px;
}
.star i{
    font-size: 0.8rem;
    color: gold;
}

.buyNow:hover{
    background-color: rgb(4, 1, 1);
    color: rgb(181, 53, 53);
}

h1{
    font-weight: 700;
}
h2{
    font-weight: 800;
}
h3{
    font-weight: 800;
}
h5{
    font-weight:500;
}
p{
    font-weight: 500;
}

body{
    font-family: 'Poppins',sans-serif;
}

.navbar {
    font-size: 16px;
    top: 0;
    left: 0;
    box-shadow: 0 5px 10px rgb(0,0,0,0.3);
}

/*mobile view navbar*/
.navbar-light .navbar-toggler{
    border: none;
    outline: none;
}

.navbar-light .navbar-nav .nav-link{
    padding: 0 20px;
    color: black;
    transition: color 0.3s ease;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar i.active{
    color: rgb(218, 43, 43);
}
.nav-item a i{
    color: black;
}

.navbar i {
    font-size: 1.2rem;
    padding: 0 7px;
    cursor:pointer;
    font-family: 500;
    transition: 0.3s ease;
}
#bar{
    font-size: 1.5rem;
    padding: 7px;
    cursor:pointer;
    transition: 0.3s ease;
    color: black;
}

#bar:hover,
#bar:active{
    color: rgb(165, 30, 30);
}

@media only screen and (max-width:991px){
    body > nav > div > button:hover,
    body > nav > div > button:focus{
        background-color: white;
    }
    #navbarSupportedContent > ul{
        margin:1rem;
        justify-content: flex-end;
        align-items: flex-end;
        text-align: right;
    }
    #navbarSupportedContent > ul > li:nth-child(n) > a {
        padding: 10px 0;
    }
}

/* home page */
#home{
    background-image: url(images/6da19b496fbff06dad829c6127a845fa.jpg);
    width: 100%;
    height:110vh;
    background-size: cover;
    background-position: top center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content:flex-start;


}
#home span{
    color:rgb(205, 39, 39)
}

/* brand field*/

#brand img{
    width: 30px;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
}

/* new products*/

#new .one img{
    width: 100%;
    height: 100%;
    position: relative;
}

#new .one .details{
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 75px;
    top: 0;
    left: 0;
    color: rgb(159, 27, 27);
    transition: 0.3s ease;
    text-align: center;
}

#new .one:hover .details{
    cursor:pointer;
    background-color: rgba(202, 34, 34, 0.386);
    color: white;

}
#new .one .details button {
    font-size: 20px;
    font-weight: 500;
    color: white;
    background: none;
    text-transform: uppercase;
    border-bottom: 2px solid rgb(184, 36, 36);
    padding:2.5px;
    transition: 0.3s ease;
    outline: none;
}
#new .one .details button:hover {
    color: rgb(214, 43, 43);
}

hr{
    background-color: rgb(153, 32, 32);
    height: 2px;
    width: 50px;
}
/* products page */

.product{
    cursor: pointer;
}

.product img{
    width: 100%;
    object-fit: cover;
    transition: 0.3s all;
}

.product:hover img{
    transition: 0.3s all;
    opacity: 0.85;
}

.product .buyNow{
    opacity: 0;
    transition: 0.3s ease;
    transform: translateY(20px);
    width: 150px;
}

.product:hover .buyNow{
    opacity: 1;
}

/*banner field  */

#banner{
    background-image: url(images/468e8899c0ffd8ceb881c52e42800d66.jpg);
    width: 100%;
    height: 100vh;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    padding-bottom: 100px;
}

/*footer*/

footer{
    background-color: rgb(120, 11, 11);
    color: white;
}
footer h5{
    color: rgb();
    font-weight: 800;
    font-size: 1.2rem;
}
footer li{
    padding-bottom: 4px;
}
footer li a{
    color: white;
}
footer li a:hover{
    color: rgb(229, 39, 39);
}

footer .copyright{
    text-align: center;
}

footer .copyright p{
    text-align: center;
    font-size: 14px;
    color: rgb(183, 109, 109)
}

footer .copyright img{
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 20px;
}


/* Blog*/
#blog-container .post .post-img{
    overflow: hidden;
    cursor: pointer;
}
#blog-container .post p:hover{
    color: rgb(135, 30, 30);

}
#blog-container .post img{
    transition: 0.3s ease;
}

#blog-container .post-img:hover img{
    transform: scale(1.4) rotate(-10deg);
    opacity: 0.8;
}

.blog-banner{
    position: relative;
}

.blog-banner h5{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%,-50%);
}

/*shoppping cart*/


#cart-container{
    overflow-x: auto;
}
#cart-container table{
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
}

@media(max-width:991px){
    #cart-container table{
        width: 1200px;
    }
}

#cart-container table thead{
    font-weight: 700;
    background-color: rgb(139, 38, 38);
    color: white;
}
#cart-container table thead td{
    padding: 4px;
    border: none;
    
}
#cart-container table td{
    border: 2px solid rgb(213, 171, 171) ;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
#cart-container table td:nth-child(1){
    width: 100px;
}
#cart-container table td:nth-child(2)
#cart-container table td:nth-child(3){
    width: 300px;
}
#cart-container table td:nth-child(4)
#cart-container table td:nth-child(5)
#cart-container table td:nth-child(6){
    width: 100px;
}
#cart-container table tbody img {
    width: 100px;
    height: 70px;
    object-fit: cover;
}

#cart-container table tr a{
    cursor: pointer;
    color: grey;

}

#cart-bottom .coupon>div{
    border: 2px solid rgb(213, 171, 171);
}
#cart-bottom .coupon h5{
    padding: 4px;
    border: none;
    background-color: rgb(140, 37, 37);
    color: white;
    font-weight: 700;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
}
#cart-bottom .coupon button{
    margin-left: 15px;
    margin-bottom: 15px;
}

#cart-bottom .coupon p
#cart-bottom .coupon input{
    padding: 0 12px;
    
}
 
#cart-bottom .total{
    border: 2px solid rgb(213, 171, 171);
    padding: 0;
}
#cart-bottom .total h5{
     padding: 4px;
    border: none;
    background-color: rgb(140, 37, 37);
    color: white;
    font-weight: 700;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
}
#cart-bottom .total button{
    margin-left: 15px;
    margin-bottom: 15px;
}
.product-name{
    max-width: 200px;
}

.product-name h5{
    white-space: normal;
    overflow-wrap: break-word;
}














